---
title: Arts Council England funding per unit population
---
<p>Arts Council England publish <a href="https://www.artscouncil.org.uk/ProjectGrants/project-grants-data">data</a> about <a href="https://www.artscouncil.org.uk/ProjectGrants">National Lottery Funding Grants.</a> Currently, the data contains grants awarded between April 2018 and August 2022. Each UK grant is asscosiated with a Local Authority. This means an estimate for total funding recieved per person by Local Authority can be calculalated using <a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland">population statistics</a> from the ONS. For all below figures, population statistics from 2020 have been used.</p>

<h2>Overview</h2>
<ul>
<li>From the beginning of April 2018 to the end of August 2022 Arts Council England gave a total of <strong>{{arts_council.stats.total_count | localize}}</strong> grants worth a total of <strong>£{{arts_council.stats.total_sum | localize}}</strong>.</li>
<li>A total of <strong>{{arts_council.stats.uk_count | localize}}</strong> went to organisations in the UK, worth a total of <strong>£{{arts_council.stats.uk_sum | localize}}</strong>.</li>
<li>A total of <strong>{{arts_council.stats.england_count | localize}}</strong> went to organisations in England, worth a total of <strong>£{{arts_council.stats.england_sum | localize}}</strong>. 
Engalnd has a population of <strong>{{arts_council.stats.england_population | localize}}</strong> so this equates to <strong>£{{(arts_council.stats.total_sum / arts_council.stats.england_population) | round(2) | localize}}</strong> per person.</li>
</ul>

<h2>By Local Authority</h2>

{% from 'macros.njk' import dateFormatter %}
{%- macro popupCountTotal(params) -%}
  {{ params.label }}</br>£
  {{ params.value }} </br> Funding Received Per Person
{%- endmacro -%}


<div style="display: flex; justify-content: center;">
<div style="width: 40rem; max-width: 100%;">
{{ comp.charts.hexmap({
      hexjson: arts_council.la,
      data: arts_council.all_summary_hex.rows,
      matchKey: 'la_code',
      valueProp: 'sum_total_per_capita',
      bgColour: '#ddd',
      popup: popupCountTotal,
      title: 'Arts Council Funding by Local Authority Per Capita'
    }) | safe }}

    

</div>
</div>

<p>Hexmap showing the total amount of funding recieved from Arts Council England (from April 2018 to August 2022) per person by Local Authority.</p>

<h2>By Region</h2>

{%- macro popup_text(label, value, total) -%}
  £{{value}} total funding per person in {{ label }}
{%- endmacro -%}
<div style="display: flex; justify-content: center;">
<div style="width: 40rem; max-width: 100%;">
{{ comp.map.uk({
      width: '80%',
      values: arts_council.region_map,
      max: 11.86,
      popup_formatter: popup_text
    }) | safe }}

</div>
</div>

<p>Map showing the total amount of funding recieved from Arts Council England (from April 2018 to August 2022) per person by English Region.</p>

<h2>Data used</h2>
<ul>
<li><a href="https://www.artscouncil.org.uk/ProjectGrants/project-grants-data">Arts Council England Funding Data</a></li>
<li><a href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/populationestimates/datasets/populationestimatesforukenglandandwalesscotlandandnorthernireland">Population Statstics</a> - 'Mid 2020 edition' has been used.</li>
</ul>
